.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  margin-right: 10rem;
}
